body {margin: 0; padding: 0;}

.section_title{
    font-family: cambian;
    opacity:.9;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.title_top_heading {
    font-size: 36px;
    line-height: 48px;
    color: var(--heading);
    margin-bottom: 14px;
    font-weight: 100;
}
.section_text_wrapper h4{
    font-size: 32px;
    font-weight: 400;
    margin: 10px 0px;
    opacity: 9.2;
}.section_text_wrapper p{
    font-size: 16px;
    line-height: 30px;color: var(--navColor);
}.section_text_wrapper a{
    color: #ae0a46;
}.section_text_wrapper a:hover{
    color: #850635;
}
/*================================*/
    /*=======================
         Service Common Page
    =========================*/
/*================================*/
.radius_text_button{
    background-color: #222;
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 20px;
}
.service_common_content h3{
    font-size: 36px;
    opacity: .9;
    font-family: cambria;
    font-weight: 500;
    font-style: normal;
    color: #222;
    margin: 30px 0px;
}
.service_common_content h5{
    font-size: 30px;
    opacity: .9;
    font-family: cambria;
    font-style: normal;
    font-weight: 500;
    color: #222;
}
.service_common_content h6{
    font-size: 18px;
    opacity: .9;
    font-family: cambria;
    font-style: normal;
    font-weight: 500;
    color: #222;
}
.service_common_content_block a{
    color: #222;
}
.service_common_content_block a:hover h6{
    color: var(--mainColor);
}
.service_common_content_block a:hover span{
    color: #77052f;
}
.service_common_content_block a span{
    color: #ae0a46;
}
.service_common_content_block a h6{
    font-size: 20px;
    opacity: .9;
    font-family: cambria;
    font-style: normal;
    font-weight: 500;
    color: #222;
}
/*================================*/
    /*=======================
         Solution Common Page
    =========================*/
/*================================*/
.inFream{
    background-image: url(../images/single-page/banner/hero-after.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    min-height: 475px;
    overflow: hidden;
}
.solution_common_header{

}
.solution_common_header h1{
    font-size: 48px;
    font-weight: 100;
    font-family: cambria;
    padding: 0px 35%;
}
@media only screen and (max-width: 600px) {
    .solution_common_header h1{
        padding: 0px 5%; 
    }
}
.topLine{
    border-top: 6px solid #ae0a46;
}
.bottomLine{
    padding-bottom: 5px;
    border-bottom: 6px solid #ae0a46;
}

/*Cart Effect*/
.solution_card_wrapper {
    display : flex;
    align-items : center;
    justify-content : center;
  }
  
  .solution_card {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-warp : warp;
    padding : 30px;
    height: 450px;
  }
  .card_item {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .card_item:hover {
    height : 350px;    
  }
  .card_item .card_item_image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  .card_item .card_item_image img {
    max-width : 100%;
    border-radius : 15px;
  }
  .card_item .solution_cart_content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  .card_item:hover .solution_cart_content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
  }
  .solution_cart_content p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
} 
/*================================*/
    /*=======================
         Industry single Page
    =========================*/
/*================================*/
.industry_single_help_list{
    padding-left: 60px;
}
.industry_single_help_list h5{
    font-size: 24px;
    font-family: cambria;
    font-weight: 500;
    padding-top: 20px;
}
.industry_single_help_list ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.industry_single_help_list ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
.industry_single_help_list ul li a{
    color: #ae0a46;
}
.industry_single_help_list ul li a:hover{
    color: #850635;
}

/*- Background Color--*/
.integrated_security {
    padding: 60px 0px;
    background: linear-gradient(to right, #ae0a46 0%, #a80b6e 51%, #582873 100%);
}
/*================================*/
    /*=======================
         Industry Common Page
    =========================*/
/*================================*/

/* industry page */

.industry_solution_item_content{
    border: 1px solid #e3e3e3;
    background-color: #fff;
    padding: 20px;
    margin-top: 60px;
}

.industy_solution_item_image{
    background-color: white;
    margin-top: -60px;
    width: 80px;

}
.industy_solution_item_image img{
    width: 100%;
    display: block;
}

.industy_solution_item_name p{
    color: #5f5753;
    font-size: 22px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: 500;
}

.industy_solution_item_text p{
    font-size: 18px;
    line-height: 24px;
    color: var(--navColor);
    font-weight: 300;
}

.industry_solution_item_button{
    padding: 17px;
    padding-right: 0px;
    display: block;
    background-color: var(--mainColor);
    color: var(--primaryColor);
    transition: all linear 0.3s;
}

.industry_solution_item_button:hover{
    color: var(--primaryColor);
    background-color: var(--topHover);
}

/* industry page end */
/*================================*/
    /*=======================
         Hardware Single Page
    =========================*/
/*================================*/

.product_veiw_details_item {
    text-align: center;
}

.product_veiw_details_item_image img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.product_veiw_details_item_content p {
    font-size: 21px;
    color: var(--heading);
    font-weight: 300;
}
/**/

.industry_section_item {
    border-style: solid;
    border-width: thin;
    border-color: #d4d0ca;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
}

.industry_section_item_thumbnail {
    margin-bottom: 10px;
}

.industry_section_item_thumbnail img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

/*================================*/
    /*=======================
         Softwer Single Page
    =========================*/
/*================================*/

/*Benefits of Software*/
.software_chose_item {
    background-color: var(--primaryColor);
    padding: 15px;
    border: 1px solid #d4d0ca;
    box-shadow: 0px 0px 10px #00000008;
    border-top: 10px solid #582873;
    cursor: context-menu;
}

.software_chose_item_title{
    color: var(--subColor);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 10px;
    margin: 4px 0px;
    text-align: center;
}

.software_chose_item_text{
    font-size: 18px;
    line-height: 24px;
    color: var(--navColor);
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
}
/*Call_to Action*/
.call_to_action{
    padding: 80px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.call_to_action_text h4{
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 400;
    color: var(--primaryColor);
    text-align: center;
}

.call_to_action_text p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
    padding: 0px 15%;
    color: var(--primaryColor);
}


/*================================*/
    /*=======================
         Softwer All Page
    =========================*/
/*================================*/
.softwer_common_header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
}

/*---- Nasted -Tab Content-----*/
.nasted_tabbar_title h5{
    font-family: cambian;
    opacity:.9;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.nasted_tabbar_title p{
    color: var(--navColor);
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
/*----Tab Content-----*/

.tab-content .active,
.collapsible:focus {
    border: none;
}
.data_tabs_content .active,
.collapsible:focus {
    border: none;
}

.clint_tab_section{
    background: var(--bgColor);
    border: 1px solid #e7e7e6;
    border-radius: 50px;
    margin: 60px 5%;
    padding: 30px 0px;
}




.clint_tab_btn_content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clint_tab_btn_content ul li{}

.clint_tab_btn_content ul li a {
    background-color: var(--primaryColor) !important;
    border: 1px solid var(--subColor) !important;
    padding: 5px 20px 5px !important;
    border-radius: 20px !important;
    font-size: 11.0px;
    font-weight: 400;
    color: var(--mainColor) !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

.clint_tab_btn_content ul li a.nav-link.active {
    color: var(--primaryColor) !important;
    background-color: var(--topHover) !important;
}

.clint_tab_area_thumbnail_image{
    margin-bottom: 40px;
}

.clint_tab_area_thumbnail_image img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 30px;
}

.clint_tab_area_thumbnail_caption {
    margin-left: 0px;
    width: 100%;
    position: relative;
    
}

.clint_tab_area_thumbnail_caption::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: #582873;
    left: 0px;
    top: -10px;
}

.clint_tab_area_thumbnail_caption p{
    font-size: 22px;
    color: var(--heading);
    font-weight: 300;
    font-family: cursive;
}
.clint_tab_content_title {
    font-size: 2rem;
    line-height: 1.16667;
    color: var(--heading);
    font-weight: 200;
    margin-bottom: 10px;
}

.clint_tab_content_text_area{
    margin-bottom: 24px;
}

.clint_tab_content_text_title{
    font-size: 22px;
    color: var(--heading);
    font-weight: 300;
    margin-bottom: 10px;
}

.clint_tab_content_text_paragraph{
    font-size: 16px;
    font-weight: 200;
    color: var(--navColor);
}

.clint_tab_content_text_area_list,
.clint_tab_content_text_area_list_marker{
    margin-bottom: 25px;
}

.clint_tab_content_text_area_list ul,
.clint_tab_content_text_area_list_marker ul{
    padding-left: 25px;
}

.clint_tab_content_text_area_list ul li,
.clint_tab_content_text_area_list_marker ul li{
    color: var(--navColor);
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    position: relative;
}

.clint_tab_content_text_area_list_marker ul li::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 6px 0 0 -22px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--heading);
}

.clint_tab_content_text_area_list ul li::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 12px;
    border: solid #9f177a;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
    margin: 6px 0 0 -22px;
    top: 0px;
    left: 0px;
}


/*---Softwer Show-----*/

.solution_business_item{
    margin: 60px 0px;
}

/*-----Clint help-----*/
.clint_help_section{
    padding: 40px 5%;
}
.clint_help_item{
    box-shadow: 0px 3px 4px 0px #e6e6e5;
    transition: all linear 0.3s;
}

.clint_help_item:hover{
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgb(0 0 0 / 15%);
}

.clint_help_item_thumbnail img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.clint_help_item_content{
    padding: 25px 40px 30px;
}

.clint_help_item_title{
    font-size: 26px;
    color: var(--heading);
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

.clint_help_item_text{
    font-size: 16px;
    font-weight: 300;
    color: var(--navColor);
    margin-bottom: 20px;
}

.clint_help_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--mainColor);
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    transition: all linear 0.3s;
}

.clint_help_button:hover{
    background-color: var(--topHover);
    color: var(--primaryColor);
}

/*---globa call section----*/

.global_call_section{
    position: relative;
    z-index: 1;
}

.global_call_section::after {
    content: "";
    position: absolute;
    height: 230px;
    background: url(../images/service/globalbanner.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    background-color: #CBC4C3;
    top: 25%;
    left: 0px;
    z-index: -1;
}

.global_call_section_content{
    max-width: 575px;
    background-color: var(--heading);
    padding: 50px;
}
/*--We serve--*/

.we_serve_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.we_serve_content{
    width: 66%;
}


.we_serve_title p{
    font-size: 18px;
    color: var(--heading);
    font-weight: 300;
    position: relative;
}

.we_serve_title p::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #582873;
    width: 25px;
    top: -5px;
    left: 0px;
}

.we_serve_itemWrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.we_serve_item {
    box-shadow: 0px 3px 4px 0px #e6e6e5;
    padding: 20px 20px 30px;
    border: 1px solid #e6e6e5;
    display: block;
}

.we_serve_item_image {
    height: 60px;
    width: 60px;
    margin: 0px auto 6px;
}

.we_serve_item_image img{
    max-width: 100%;
    display: block;
}

.we_serve_sidebar{
    width: 25%;
}

.we_serve_item_text{
    font-size: 16px;
    font-weight: 500;
    color: var(--mainColor);
    text-align: center;
}

.we_serve_sidebar_list{
    margin-top: 20px;
}
.we_serve_sidebar_list ul{
    padding: 0;
    padding-left: 15px;
}

.we_serve_sidebar_list ul li{
    margin-bottom: 20px;
    background-color: #2f2b27;
    padding-top: 5px;
    list-style-type: none;
}
.we_serve_sidebar_list ul li:hover{
    background: url(../images/serveicon/hover.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.we_serve_sidebar_list ul li a {
    font-size: 20px;
    line-height: 30px;
    display: block;
    font-weight: 300;
    color: var(--primaryColor);
    padding: 15px;
    
}


/*=============================*/
    /*====================
            Home Page
    ======================*/
/*=============================*/
/*------- Header Image-------*/
.banner_section{
    margin-bottom: -135px;
}
.slider_inage img {
    width: 100%;
    object-fit: fill;
    display: block;
    height: 480px;
}
@media only screen and (max-width: 600px) {
    .slider_inage img {
        width: 100%;
        object-fit: fill;
        display: block;
        height: 200px;
    }
}
/*----------Cart Top----------------*/

.home_card_item {
    max-width: 490px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f7f6f5;
    padding: 30px 30px 48px;
    margin-bottom: 20px;
}

.home_card_item_title{
    font-size: 30px;
    font-weight: 300;
    color: var(--heading);
    text-align: center;
    line-height: 38px;
    margin-bottom: 24px;
}

.home_card_button{
    text-align: center;
}

.home_card_button a{
    display: inline-block;
    padding: 18px 36px;
    color: var(--mainColor);
    border: 1px solid var(--subColor);
    font-size: 14px;
    font-weight: 500;
    background: var(--primaryColor);
    transition: all 0.3s linear;
}

.home_card_button a:hover{
    color: var(--primaryColor);
    background-color: var(--subColor);
}
/*----- Bussinees Section------*/
.home_title{
    padding:0 10%;
    margin-top: 50px;
    text-align: center;
}

.home_title_heading {
    font-size: 30px;
    color: var(--heading);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}

.home_title_heading span{
    position: relative;
}

.home_title_heading span::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 20px;
    background: #9f177a;
    top: -5px;
    left: 0px;
}

.home_title_text {
    color: var(--navColor);
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}
.business_seftion_button {
    text-align: center;
    margin: 10px 0px;
}

.business_seftion_button a {
    display: inline-block;
    padding: 18px 36px;
    color: var(--mainColor);
    border: 1px solid var(--subColor);
    font-size: 14px;
    font-weight: 500;
    background: var(--primaryColor);
    transition: all 0.3s linear;
}

.business_seftion_button a:hover{
    color: var(--primaryColor);
    background-color: var(--subColor);
}

/*------Learn clint history (Style.css)------*/

.learn_clint_history_btn{
    text-align: center;
    margin-top: 24px;
}

.learn_clint_history_btn a{
    display: inline-block;
    color: var(--mainColor);
    font-size: 18px;
    position: relative;
}

.learn_clint_history_btn a::after{
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #ae0a46;
    height: 3px;
    transition: 0.4s ease-out;
}

.learn_clint_history_btn a:hover::after{
    left: 0;
    width: 100%;
}


/*------Shop Product section------*/

.home_shop_product_wrapper h5{
    font-size: 34px;
    font-family: Cambria;
    font-weight: 100;
    opacity: .8;
    margin-bottom: 20px;
}
.home_shop_product_wrapper p{
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 20px;
}

.shop_product_brand_list{
    padding-left: 20%;
    margin-top: 20px;
}
.shop_product_brand_list li{
    margin-bottom: 20px;
    border-left: 2px solid #cbc4c3;
    padding-left: 20px;list-style-type: none;
}
.shop_product_brand_list li a{
    color: var(--mainColor);
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}
.shop_product_brand_list li a:hover{
    color: var(--topHover);
}
/*------our success section------*/
.our_success_wrapper{
    margin-bottom: 50px;
}


.our_success_item_title {
    position: relative;
    background: var(--mainColor);
    text-align: center;
    min-height: 48px;
    display: grid;
    place-content: center;
    font-size: 22px;
    font-family: monospace;
    color: var(--primaryColor);
}

.our_success_item_title2{
    background-color: #9f177a;
}

.our_success_item_title3{
    background-color: #582873;
}

.our_success_item_title2::after{
    border-top: solid 15px #9f177a !important;
}

.our_success_item_title3::after{
    border-top: solid 15px #582873 !important;
}
.our_success_item_title2::after,
.our_success_item_title3::after,
.our_success_item_title::after{
    content: "";
    position: absolute;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    border-top: solid 15px #ae0a46;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    top: 100%;
    margin-left: -30px;

}
.our_success_item_body {
    font-size: 16px;
    color: var(--navColor);
    line-height: 22px;
    font-weight: 300;
    font-family: 'Poppins';
    background: var(--bgColor);
    border: 1px solid #d4d0ca;
    margin-top: -2px;
    min-height: 175px;
    text-align: center;
    padding: 40px 20px 0px 20px;
}








