
/*------- Header Image-------*/
.banner_section{
    margin-bottom: -135px;
}
.slider_inage img {
    width: 100%;
    object-fit: fill;
    display: block;
    height: 480px;
}
@media only screen and (max-width: 600px) {
    .slider_inage img {
        width: 100%;
        object-fit: fill;
        display: block;
        height: 200px;
    }
}
/*----------Cart Top----------------*/

.home_card_item {
    max-width: 490px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f7f6f5;
    padding: 30px 30px 48px;
    margin-bottom: 20px;
}

.home_card_item_title{
    font-size: 30px;
    font-weight: 300;
    color: var(--heading);
    text-align: center;
    line-height: 38px;
    margin-bottom: 24px;
}

.home_card_button{
    text-align: center;
}

.home_card_button a{
    display: inline-block;
    padding: 18px 36px;
    color: var(--mainColor);
    border: 1px solid var(--subColor);
    font-size: 14px;
    font-weight: 500;
    background: var(--primaryColor);
    transition: all 0.3s linear;
}

.home_card_button a:hover{
    color: var(--primaryColor);
    background-color: var(--subColor);
}
/*----- Bussinees Section------*/
.home_title{
    padding:0 10%;
    margin-top: 50px;
    text-align: center;
}

.home_title_heading {
    font-size: 30px;
    color: var(--heading);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}

.home_title_heading span{
    position: relative;
}

.home_title_heading span::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 20px;
    background: #9f177a;
    top: -5px;
    left: 0px;
}

.home_title_text {
    color: var(--navColor);
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}
.business_seftion_button {
    text-align: center;
    margin: 50px 0px;
}

.business_seftion_button a {
    display: inline-block;
    padding: 18px 36px;
    color: var(--mainColor);
    border: 1px solid var(--subColor);
    font-size: 14px;
    font-weight: 500;
    background: var(--primaryColor);
    transition: all 0.3s linear;
}

.business_seftion_button a:hover{
    color: var(--primaryColor);
    background-color: var(--subColor);
}

/*------Learn clint history (Style.css)------*/

.learn_clint_history_btn{
    text-align: center;
    margin-top: 24px;
}

.learn_clint_history_btn a{
    display: inline-block;
    color: var(--mainColor);
    font-size: 18px;
    position: relative;
}

.learn_clint_history_btn a::after{
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #ae0a46;
    height: 3px;
    transition: 0.4s ease-out;
}

.learn_clint_history_btn a:hover::after{
    left: 0;
    width: 100%;
}


/*------Shop Product section------*/

.home_shop_product_wrapper h5{
    font-size: 34px;
    font-family: Cambria;
    font-weight: 100;
    opacity: .8;
    margin-bottom: 20px;
}
.home_shop_product_wrapper p{
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 20px;
}

.shop_product_brand_list{
    padding-left: 20%;
    margin-top: 20px;
}
.shop_product_brand_list li{
    margin-bottom: 20px;
    border-left: 2px solid #cbc4c3;
    padding-left: 20px;list-style-type: none;
}
.shop_product_brand_list li a{
    color: var(--mainColor);
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}
.shop_product_brand_list li a:hover{
    color: var(--topHover);
}
/*------our success section------*/
.our_success_wrapper{
    margin-bottom: 50px;
}
.section_title {
    max-width: 885px;
    margin: 0px auto;
    text-align: center;
}

.our_success_item_title {
    position: relative;
    background: var(--mainColor);
    text-align: center;
    min-height: 48px;
    display: grid;
    place-content: center;
    font-size: 22px;
    font-family: monospace;
    color: var(--primaryColor);
}

.our_success_item_title2{
    background-color: #9f177a;
}

.our_success_item_title3{
    background-color: #582873;
}

.our_success_item_title2::after{
    border-top: solid 15px #9f177a !important;
}

.our_success_item_title3::after{
    border-top: solid 15px #582873 !important;
}
.our_success_item_title2::after,
.our_success_item_title3::after,
.our_success_item_title::after{
    content: "";
    position: absolute;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    border-top: solid 15px #ae0a46;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    top: 100%;
    margin-left: -30px;

}
.our_success_item_body {
    font-size: 16px;
    color: var(--navColor);
    line-height: 22px;
    font-weight: 300;
    font-family: 'Poppins';
    background: var(--bgColor);
    border: 1px solid #d4d0ca;
    margin-top: -2px;
    min-height: 175px;
    text-align: center;
    padding: 40px 20px 0px 20px;
}








